@font-face {
    font-family: 'Whyte-Regular';
    src: url(./assets/Font-folder/Whyte-Regular.static.otf);
}

@font-face {
    font-family: 'Whyte-Inktrap';
    src: url(./assets/Font-folder/WhyteInktrap-Bold.static.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 22px 0px;
}

nav {
    width: 89%;
}

.nav-inner-container-1 {
    gap: 10px;
}

.nav-inner-container-1 button {
    font-family: 'Whyte-Regular';
    border: 2px solid #000;
    border-radius: 30px;
    display: inline-block;
    background-color: transparent;
    font-size: .875rem;
    font-weight: 700;
    line-height: .9;
    padding: 10px 20px 9px;
    text-transform: uppercase;
}

.nav-inner-container-1 button:nth-child(2) {
    background-color: #000000;
    color: white;
}

.nav-inner-container-1 img {
    margin-left: 20px;
}

.nav-inner-container-3 {
    position: relative;
}

.nav-inner-container-3 select {
    text-transform: uppercase;
    font-family: 'Whyte-Regular';
    padding: 10px 40px 9px 20px;
    background-color: transparent;
    appearance: none;
    border-radius: 20px;
    transition: 0.3s;
}

.nav-inner-container-3 select:focus {
    outline: none;
    background-color: black;
    color: white;
}

.nav-inner-container-3 .select-icon {
    position: absolute;
    right: 57px;
    pointer-events: none;
    top: 9px;
}

.nav-inner-container-3 i {
    font-size: 15px;
}

.nav-inner-container-3 button {
    border: 2px solid #000;
    font-family: 'Whyte-Regular';
    border-radius: 30px;
    display: inline-block;
    background-color: transparent;
    font-size: .875rem;
    font-weight: 700;
    line-height: .9;
    padding: 10px 20px 9px;
    text-transform: uppercase;
}

/* Section - 1 */
.sec-1 {
    width: 100%;
    gap: 97px;
    margin-top: 30px;
}

.sec-1 .svg-cutout {
    stroke: black;
    stroke-width: 4px;
}

.sec-1 div:nth-child(2) {
    width: 40%;
}

.sec-1 div:nth-child(2) h2 {
    font-size: 48px;
    font-family: 'whyte-inktrap';
    line-height: 52px;
    padding-bottom: 10px;
}

.sec-1 div:nth-child(2) p {
    font-size: 30px;
    font-family: 'whyte-Regular';
    line-height: 39px;
}

/* Section - 2 */
.sec-2 {
    margin-top: 60px;
}

.sec-2-second-container {
    gap: 160px;
    margin-top: 8rem;
}

.sec-2-second-container div:nth-child(1) {
    width: 25%;
}

.sec-2-second-container h2 {
    font-size: 48px;
    line-height: 58px;
    font-family: 'Whyte-Inktrap', sans-serif;
    width: 35%;
}

.sec-2-second-container div:nth-child(2) {
    width: 40%;
    gap: 60px;
}

.sec-2-second-container div:nth-child(2) p {
    font-size: 30px;
    line-height: 39px;
    font-family: 'whyte-Regular';
}

.sec-2-second-container a {
    font-size: 30px;
    line-height: 39px;
    font-weight: 900;
    font-family: 'whyte-Regular';
    color: #000000;
    text-decoration: none;
}

/* Section - 3  , Section - 4 */
.sec-3-main-container,
.sec-4-main-container {
    margin: 120px auto;
    width: 86.3%;
}

.sec-3-main-container h2,
.sec-4-main-container h2 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    font-family: 'whyte-inktrap';
}

.sec-3-main-container>div:nth-child(2),
.sec-4-main-container>div:nth-child(2) {
    width: 46%;
    gap: 35px;
}

.sec-3-main-container h3,
.sec-4-main-container h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 10px 0px;
    font-family: 'whyte-Regular';
}

.sec-3-main-container p,
.sec-4-main-container p {
    font-size: 20px;
    line-height: 28px;
    font-family: 'whyte-Regular';
}

.sec-3-main-container ul {
    font-size: 20px;
    line-height: 28px;
    font-family: 'Whyte-Regular';
    list-style: none;
}

.sec-3-main-container img,
.sec-4-main-container img {
    margin-right: 15px;
}

.country-options {
    gap: 20px;
}

/* footer */
.footer {
    padding: 63px 0px 0px 0px;
    background-color: #C7B9FF;
    margin-top: 65px;
}

.footer-first-container {
    width: 80%;
}

.footer-para {
    font-size: 18px;
    line-height: 18px;
    font-family: 'whyte-regular';
    width: 43%;
}

.footer-para a {
    font-weight: 700;
    text-decoration: none;
    color: #000000;
}

.footer-para a:hover {
    color: #005EFF;
}

.footer-first-container h3 {
    width: 10%;
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
    font-family: 'Whyte-Regular';
}

.footer-first-container .footer-ul {
    list-style: none;
    gap: 14.5px;
    margin-top: 25px;
}

.footer-first-container .footer-ul li>a {
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    font-family: 'Whyte-Regular';
    color: #000000;
    font-weight: 400;
}

.footer-first-container>div:nth-child(2) {
    width: 68%;
}

.footer-second-ul {
    width: 54%;
}

.footer-second-ul ul {
    display: flex;
    gap: 55px;
    list-style: none;
    margin-top: 6px;
}

.footer-second-ul ul li a {
    font-size: 26px;
    line-height: 32px;
    font-family: 'Whyte-Regular';
    color: #000000;
    text-decoration: none;
}

.footer-second-ul ul li a:hover {
    text-decoration: underline;
}

/* Footer marquee animation */
.outline__text {
    font-family: sans-serif;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
}

.marquee {
    width: 100%;
    height: 3rem;
    pointer-events: none;
    overflow: hidden;
    margin-top: 32px;
}

.marquee__inner-wrap {
    height: 100%;
    width: 100%;
}

.marquee span {
    text-align: center;
    color: #000000;
    font-weight: 700;
    white-space: nowrap;
    font-size: 26px;
    line-height: 26px;
    padding: 1.5vw 27px 1.5vw 10px;
    font-family: 'whyte-Regular';
    text-transform: uppercase;
}



.marquee__inner {
    height: 100%;
    width: fit-content;
    align-items: center;
    display: flex;
    position: relative;
    animation: marquee 9s linear infinite;
    will-change: transform;
}

@keyframes marquee {
    to {
        transform: translateX(-50%);
    }
}

@media (max-width: 767px) {
    .header nav{
        display: none;
    }
    .sec-1{
        flex-direction: column;
    }
    .sec-1 > div:nth-child(1){
        height: 440px;
    }
    .sec-1 .svg-cutout{
        width: 90%;
    }
    .sec-1 div p{
        font-size: 20px ;
        font-weight: 400;
        line-height: 29px;
    }
    .sec-1 div:nth-child(2) {
        width: 90%;
    }
}